* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.home__header {
    padding: 31px 0 21px 0;
    background: #E5E5E5;
}

.home__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list--1 {
    list-style: none;
    display: flex;
    gap: 82px;
}

.header__list--2 {
    list-style: none;
    display: flex;
}

.header__list--3 {
    list-style: none;
    display: flex;
    gap: 147px;
}

.home__header--list-item {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #323232;
    scroll-behavior: smooth;
}

.home__first--section {
    background: #E5E5E5;
    border: 1px solid #000000;
    border-right: 0px;
    border-left: 0px;
}


.home__fs--box {
    display: flex;
    gap: 37px;
}

.home__fs--right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.home__fs--right-box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #57463A;
}


.home__fs--right-box__p__1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #323232;
    margin-bottom: 17px;
}

.home__fs--right-box__p__2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #323232;
    max-width: 562px;
    width: 100%;
    margin-top: 40px;
}

.home__fs--right-box button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    outline: none;
    max-width: 245px;
    width: 100%;
    padding: 18px 59px;
    border-radius: 0px;
    margin-top: 70px;
    cursor: pointer;
}

.img__item {
    display: flex;
    gap: 40px;
    justify-content: end;
    margin-top: 94px;

}

.home__brand__box--bottom {
    display: flex;
    justify-content: space-between;
}

.home__brand--p {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #715B4B;
    outline: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #323232;
    max-width: 245px;
    padding-bottom: 14px;
    /* команды не работают, кроме padding  */
}

.home__brand--section {
    padding: 80px 0;
    background: #E5E5E5;
}

.home__brand__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.home__brand__box--top h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: left;
    color: #57463A;

}

.home__10y__box--img ul {
    display: flex;
    list-style: none;
    width: 1160px;
    height: 302px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.furniture__etap--box-list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.furniture__etap--box-list ul {
    display: flex;
    list-style: none;
    width: 1160px;
    height: 302px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home__10y__box--img ul img {
    height: 100px;
}

.home__10__years__section {
    padding: 80px 0;
    background: #E5E5E5;
}

.home__10y--list {
    border: 1px solid #000;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.home__10y--list4 {
    border: 1px solid #000;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.home__10y--list2 {
    border: 1px solid #000;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.home__10y--list1 {

    border: 1px solid #000;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.home__10y__box--img {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 102.99%;
    color: #323232;
}

.home__10y__box--h1 h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
}

.home__10y__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.home__nikason__brand--box {
    display: flex;
    gap: 40px;
    align-items: center;
}

.home__nikason__box--text h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 40px;
}

.home__nikason__brand__p1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 40px;
    max-width: 500px;
    width: 100%;
}

.home__nikason__brand__p2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    max-width: 400px;
    width: 100%;

}

.home__nikason__box--text button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    outline: none;
    padding: 18px 56px;
    margin-top: 52px;
    cursor: pointer;
}

.home__nikason__box--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.home__nikason__box--h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    text-align: center;
    margin-top: 160px;
}

.home__nikason__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.home__video__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    margin-right: 650px;
    color: #57463A;
    margin-left: 600px;
}

.home__video__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.home__video__section {
    padding: 80px 0 100px 0;
}

.home__furniture__zakaz1 {
    display: flex;
    gap: 41px;
    align-items: center;
}

.home__furniture__zakaz2 {
    display: flex;
    gap: 41px;
    align-items: center;
}

.home__furniture__text h3 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.home__furniture__text2 h3 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.home__furniture__text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    max-width: 500px;
    width: 100%;
}

.home__furniture__text2 button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    outline: none;
    padding: 18px 57px;
    cursor: pointer;

}

.guarantee__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}


.home__furniture__text2 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    max-width: 500px;
    width: 100%;
}

.home__furniture__text button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    outline: none;
    padding: 18px 57px;
    cursor: pointer;
}


.home__furniture__text2 button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    outline: none;
    padding: 18px 57px;
    cursor: pointer;

}

.home__furniture__text {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: flex-start;
}

.home__furniture__text2 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: flex-start;
}

.home__furniture__text2 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: flex-start;
}


.home__furniture__zakaz1 {
    background-color: #E3DACE;
}

.home__furniture__zakaz__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;

}

.home__furniture__zakaz__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.home__furniture__zakaz__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.home__furniture__zakaz2 {
    background: #D4CDC3;
}

.home__zakaz__section {
    padding: 100px 0 0 0;
    background-color: #E5E5E5;
}

.home__furniture__zakaz2__box {
    padding: 0 0 100px 0;
    background-color: #E5E5E5;
}


.guarantee__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    text-align: center;
    max-width: 588px;
    width: 100%;
    margin-top: 92px;

}




.guarantee__box p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    max-width: 922px;
    width: 100%;
    text-align: center;
}

.guarantee__box img {
    align-self: flex-end;
    margin-right: 68px;
    margin-bottom: 38px;
}

.guarantee__box {
    border: 1px solid #715B4B;
    max-width: 1130px;
    width: 100%;
    height: 595px;
    margin-top: 1px;
}

.home__nikason__section {
    background: #EBEEEB;
}

.home__video__section {
    background-color: #E5E5E5;
}

.home__Guarantee__section {
    padding: 100px 0 210px 0;
    background-color: #E5E5E5;

}

.guarantee__box__1 {
    border: 7px solid #A1B29F;
    max-width: 1145px;
    width: 100%;
    height: 610px;
}

.home__footer--list-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
    text-decoration: none;
}

.footer__box ul {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #715B4B;
    padding: 84px 0 239px 0;
}

.home__list__img {
    display: flex;
    gap: 18px;
}

@media (max-width:1180px) {
    .home__video__box video {
        width: 900px;
    }
}

@media (max-width:1199) {
    .home__nikason__brand--box {
        display: flex;
        flex-direction: column;
    }
}

.master__first__section {
    padding: 268px 0 104px 0;
    background-image: url(../assets/img/bg__master--class.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.master__120__years__box {
    display: flex;
    flex-direction: column;
    gap: 97px;
    justify-content: center;
    align-items: center;
}

.master__120__years__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #F6F6F6;
}

.master__120__years__box button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #4C6D77;
    background: #F6F6F6;
    padding: 18px 59px;
    border: none;
    outline: none;
}

.master__furniture1 {
    display: flex;
    gap: 40px;
}

.master__work__section {
    padding: 160px 0 80px 0;
    background: #E5E5E5;
}

.master__furniture2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.work__img__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.shkaf {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}

.work__text__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    margin-left: 60px;
}

.work__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.master__do__btn button {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
    background: #A1B29F;
    border: none;
    outline: none;
    padding: 18px 44px;
}

.span__123 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #F6F6F6;
    background: #A1B29F;
    padding: 17px 23px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mk__123__box {
    display: flex;
    flex-direction: column;
    gap: 57px;

}

.mk__123__box p {
    margin-left: 500px;
}

.second__life--section {
    padding: 182px 0;
    background-image: url(../assets/img/mitchell-luo-3Zy6U5swEio-unsplash\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 508px;
}

.second__life--box h1 {
    max-width: 950px;
    width: 100%;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
}

.second__life--box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.restoration__box__bottom,
.restoration__box__top {
    display: flex;
    justify-content: space-between;
}

.chest__img {
    width: 200px;
    height: 200px;
}

.chest {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;
}

.chest p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #323232;
    text-align: center;
}

.restoration__h1__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
}

.restoration__card {
    display: flex;
    flex-direction: column;
    gap: 95px;
}

.restoration__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.furniture__restoration--section {
    padding: 160px 0 80px 0;
    background: #E5E5E5;
}

.mk__text--text {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    text-align: center;
}

.mk__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.mk__span {
    display: flex;
    align-items: center;
    gap: 43px;
}

.mk__span span {
    height: 60px;
}

.mk__section {
    padding: 80px 0 160px 0;
    background: #E5E5E5;
}

.master__class--img-box {
    display: flex;
    gap: 40px;
    justify-content: center;
}


.mc__img--right-box,
.mc__img--left-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.mc__img--right-box p,
.mc__img--left-box p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #323232;
    text-align: center;
}

.master__class--section {
    padding: 158px 0 157px 0;
    background: #E5E5E5;
}

.master__class--box {
    display: flex;
    flex-direction: column;
    gap: 99px;
}

.master__class--h1 h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    margin-left: 70px;
}

.rr__bottom--img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.redisign__right--bottom-box {
    display: flex;
    gap: 30px;
    align-items: center;
}

.redisign__right--box img {
    width: 469px;
}


.redisign__box {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}


.redisign__left--box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.redisign__left--box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    margin-bottom: 100px;
}

.redisign__left--box p {
    max-width: 540px;
    width: 100%;
    margin-bottom: 47px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.redisign__left--box button {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
    background: #A1B29F;
    padding: 18px 74px 18px 79px;
    border: none;
    outline: none;
}

.ffs__box p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #F6F6F6;
}

.ffs__box h2 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #F6F6F6;
}


.ffs__box h1 {
    margin-top: 25px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
}

.ffs__box button {
    margin-top: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #715B4B;
    background: #F6F6F6;
    border: none;
    outline: none;
    padding: 18px 92px;
}

.furniture__first--section {
    background-image: url(../assets/img/bg__furniture__page.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 639px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ffs__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why__p--1-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.why__p--box {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.why__choose__us--section {
    padding: 160px 0 80px 0;
    background: #E5E5E5;
}

.why__block--1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #323232;
    border-bottom: 1px solid #715B4B;
    outline: none;
}

.why__block--2 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #323232;
    max-width: 200px;
}

.why__p--1-block {
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.why__h2--box h2 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    margin-left: 120px;
}

.why__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}



.etap__box--2 {
    display: flex;
    justify-content: center;
}

.etap__block--1 h5,
.etap__block1--1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    align-self: end;
}

.etap__block--1 p,
.etap__block1--1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 102.99%;
    color: #323232;
}

.etap__block--1 {
    border: 1px solid #000000;
    padding: 40px 15px;
}

.etap__section {
    padding: 160px 0;
    background: #E5E5E5;
}

.etap__block1--1 {
    max-width: 350px;
    width: 100%;
}

.etap__block--1 {
    display: flex;
    flex-direction: column;
    gap: 13px;

}

.etap__h1 h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
}

.etap__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.about__box {
    position: relative;
    height: 100%;
}


.about__box {
    position: relative;
    height: 100%;
}

.about__box {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}



.about__h1 h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
}

.about__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.request__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.request__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    text-align: start;
}

.request__box button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #F6F6F6;
    background: #A1B29F;
    padding: 18px 52px;
    text-align: center;
    border: 0;
    outline: 0;
    max-width: 245px;
}

.portpholio__section {
    background: #E5E5E5;
}

.request__section {
    padding: 130px 0 181px 0;
    background-color: #E5E5E5;
}

.history__box {
    display: flex;
    flex-direction: column;
}

.history__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #57463A;
}

.history__box h2 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #57463A;
    margin-bottom: 19px;
}

.history__box img {
    margin-top: 40px;
}

.nikason__history--section {
    padding: 120px 0 87.5px 0;
    background: #E5E5E5;
    border: 1px solid #000000;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.result__block h3 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
    text-align: center;
}

.result__block p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}


.result__box {
    display: flex;
    justify-content: space-between;
}

.result__section {
    padding: 87.5px 0 80px 0;
    background: #E5E5E5;
}

.nikita__box {
    display: flex;
    gap: 40px;
}

.nikita__p--1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 70px;
}

.nikita__p--2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 25px;
    max-width: 660px;
}

.nikita__p--3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    max-width: 660px;
}

.nikita__p--4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-top: 25px;
    max-width: 660px;

}

.nikita__right--box h5 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 20px;
}

.nikita__section {
    padding: 80px 0 80px 0;
    background: #E5E5E5;
}

.filosofia__section {
    padding: 80px 0 80px 0;
}

.filosof__box {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.filosof__box h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #57463A;
}

.filosof__box p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    text-align: right;
    align-self: end;
    color: #323232;
    max-width: 695px;
}

/* С М И !!!*/

.smi__img {
    position: relative;
    height: 100%;
}

.smi__img {
    background: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


.smi__section {
    padding: 80px 0;
}

.smi__box {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.smi__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smi__text h2 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #57463A;
}

.smi__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smi__text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #323232;
}


.portpholio__box {
    position: relative;
    height: 100%;
}

.portpholio__box {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portpholio__box {
    background: #E5E5E5;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}



.about__img {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}


.about__us {
    background: #E5E5E5;
    padding: 0 0 129px 0;
}

@media (max-width: 1160px) {
    .home__10y__box--img ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }

    .home__10y--list1 {
        display: none;
    }
}


@media (max-width: 900px) {

    .home__10y--list,
    .home__10y--list2,
    .home__10y--list4 {
        border: none;
    }
}


@media (max-width:610px) {

    .home__10y--list4,
    .home__10y--list2 {
        display: none;
    }
}


@media (max-width:1148px) {
    .home__furniture__zakaz1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home__furniture__zakaz2 {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width:1076px) {
    .home__fs--box {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:1053px) {
    .home__nikason__brand--box {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width:939px) {
    .home__video__box video {
        width: 800px;

    }
}

@media (max-width:889px) {
    .footer__box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}



@media (max-width:810px) {
    .home__video__box video {
        width: 500px;
        height: 100%;

    }
}

@media (max-width:735px) {

    .home__furniture__img img,
    .home__furniture__img2 img {
        width: 600px;
    }

    .home__nikason__box--img img {
        width: 600px;
    }

    .home__fs--left-box img {
        width: 600px;
    }
}

@media (max-width:663px) {
    .home__brand__box--bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home__nav {
        display: flex;
        flex-direction: column;

    }

    .header__list--3:nth-of-type(1) {
        display: none;
    }
}

@media (max-width:600px) {
    .home__fs--left-box img {
        width: 400px;
    }
}

@media (max-width:610px) {
    .home__nikason__brand--box img {
        width: 500px;
    }
}

@media (max-width:735px) {

    .home__furniture__img img,
    .home__furniture__img2 img {
        width: 300px;
    }

    .home__nikason__box--img img {
        width: 300px;
    }


}


@media (max-width:500px) {
    .home__video__box video {
        width: 300px;
        height: 100%;

    }
}

@media (max-width:372px) {
    .home__fs--left-box img {
        width: 300px;
    }
}

@media (max-width:670px) {
    .home__video__box h1 {
        font-size: 32px;
    }
}

@media (max-width:633px) {
    .guarantee__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .guarantee__box h1 {
        display: none;
    }

    .guarantee__box img {
        width: 68px;
    }
}

/*Burger menu start*/

#burger,
[for=burger] {
    display: none;
}


@media screen and (max-width: 992px) {
    [for=burger] {
        display: block;
        width: 30px;
        right: 20px;
        top: 10px;
    }

    [for=burger]::before {
        content: '☰';
    }

    .home__nav {
        display: none;
        top: 0;
        margin-top: 30px;
        background: #E5E5E5;
        width: 80%;
        user-select: none;
        flex-direction: column;
    }

    .home__nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 13px;
        justify-content: center;
        align-items: center;
    }

    #burger:checked+label+nav {
        display: block;
        animation: show .5s ease;
    }

    #burger:checked+[for=burger]::before {
        content: '⮾';
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Burger menu end*/
@media (max-width:1160px) {

    .master__furniture1,
    .master__furniture2 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1160px) {
    .master__class--img-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:1000px) {
    .mk__span {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-right: 600px;
        justify-content: center;
    }
}

@media (max-width:900px) {

    .restoration__box__top,
    .restoration__box__bottom {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:740px) {
    .redisign__box {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:800px) {
    .techno__123 {
        display: none;
    }
}

@media (max-width:570px) {
    .mc__img--left-box img, .mc__img--right-box img {
        width: 300px;
    }
}

@media (max-width:470px) {
    .redisign__right--box img {
     width: 300px;
    }
}

@media (max-width:405px) {
    .master__class--h1 h1 {
        font-size: 34px;
        text-align: center;
    }
}

@media (max-width:438px) {
    .restoration__h1__box h1 {
        font-size: 38px;
        text-align: center;
    }
}

@media (max-width:1245px) {
    .about__img {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:1160px) {
    .etap__box--2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:1035px) {
    .why__p--box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:483px) {
    .ffs__box h2  {
        font-size: 30px;
        text-align: center;
    }

    .ffs__box h1  {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width:340px) {
    .why__h2--box h2 {
        font-size: 30px;
        text-align: left;
    }
}

@media (max-width:340px) {
    .ffs__box p {
        text-align: center;
    }
}

@media (max-width:333px) {
    .ffs__box button {
        font-size: 10px;
    }
}

@media (max-width:1010px) {
    .nikita__box {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:740px) {
    .result__box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:475px) {
    .nikita__left--box img {
        width: 200px;
    }
}

@media (max-width:860px) {
    .smi__img  {
        flex-wrap: wrap;
        justify-content: center;
    }
}
/*Наконецто конец*/